body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
}
.orange-colour {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 15px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 5%;
}
.half-width img {
  width: 40%;
  padding-left: 25%;
  padding-top: 15%;
}
.Hire-me {
  text-decoration: none;
  background-color: chocolate;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  background-image: linear-gradient(orange, tomato);
}
.top-banner {
  background-image: url(image/top.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(image/bottom.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(image/top.png);
  background-repeat: no-repeat;
  padding: 3%;
}
.web {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
#developer {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#Full-developer {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
